body {
  font-family: "Roboto", sans-serif;
}
.social-auth {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.auth-card {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border: 1px solid #e8e8f7;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}
.auth-card p {
  text-align: center;
}
.auth-card:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.forget-pass {
  display: flex;
}

input:-internal-autofill-selected {
  background-color: transparent !important;
  background-image: none !important;
  color: #000 !important;
}

button {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
button:hover {
  opacity: 0.8;
  translate: 0 -2px;
}
.inp-pass {
  position: relative;
}
.inp-pass img {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}
